org: kauelima21

service: hookwatch

custom:
  config: ${file(infra/config.${self:provider.stage}.yml)}
  layers: ${file(infra/layers.yml)}

provider:
  name: aws
  runtime: python3.12
  architecture: arm64
  memorySize: 512
  timeout: 15
  region: us-east-1
  stage: ${opt:stage, "dev"}
  logRetentionInDays: ${self:custom.config.logRetentionPolicy.${self:provider.stage}.days}
  environment:
    HOOK_WATCH_SINGLE_TABLE: ${self:service}-single-table-${self:provider.stage}
    HOOK_WATCH_PAYLOAD_BUCKET: ${self:service}-payload-bucket-${self:provider.stage}
    STAGE: ${self:provider.stage}
    HOOK_WATCH_COGNITO_CLIENT_ID: !Ref UserPoolClient
  iam:
    role:
      statements:
        - ${file(infra/iam/bucket_statement.yml)}
        - ${file(infra/iam/table_statement.yml)}
  httpApi:
    cors:
      allowedOrigins: "*"
      allowedMethods:
        - GET
        - POST
        - OPTIONS
      allowedHeaders:
        - Content-Type
        - Authorization
    authorizers:
      CognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: !GetAtt UserPool.ProviderURL
        audience:
          - !Ref UserPoolClient

package:
  individually: true
  exclude:
    - "**"

functions:
#  - ${file(infra/lambdas/ingest_hook.yml)}
#  - ${file(infra/lambdas/retry_hook.yml)}
#  - ${file(infra/lambdas/projects.yml)}
  - ${file(infra/lambdas/auth.yml)}

resources:
  - ${file(infra/dynamodb/${self:service}_single_table.yml)}
  - ${file(infra/s3/${self:service}_payload_bucket.yml)}
  - ${file(infra/cognito/user_pool.yml)}
  - ${file(infra/cognito/user_client.yml)}
